<h1 align="center">Listing all questionnaires</h1>

<div class="article-actions center">
<%=link_to "Unanswered questionnaires", surveys_path, class: "btn btn-default btn-to-unanswered"%></br></br>

<%=link_to "Answered questionnaires", surveys_path, class: "btn btn-primary btn-to-answered"%></br></br>

<%= render 'survey', obj: @surveys %></br>
</div>

