<h1 align="center"> Select below listing </h1></br>

<div class= "center" >
<p>
<%= link_to "Unanswered questionnaries", unanswered_path, class: "btn btn-primary" %>
</p></br>
<p>
<%= link_to "Answered questionnaries", answered_path, class: "btn btn-success" %>
</p></br>
</div>


