$navbar-default-bg: lightgrey;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
    text-align: center;
}

.jumbotron {
    background-image: asset-url('nyc.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron h1{
    color: red;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

footer {
    /*margin-top: 5px;*/
    /*padding-top: 5px;*/
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
    
}


table {
    counter-reset: rowNumber;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

/*table tr:not(:nth-child(odd)) {
    counter-increment: rowNumber;
}*/

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.content {
    margin-top: 0;
}

.role{
    font-weight: bold;
    /*background-color: lightgrey;*/
    /*color: blue;*/
}

#survey_color {
    color: #777777
}

.displaying form{
    display: none;
}

.change-color{
    border-color: green;
    background-color: lightgreen;
}
