$navbar-default-bg: lightgrey;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
    text-align: center;
}

.jumbotron {
    background-image: asset-url('nyc.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron h1{
    color: red;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

footer {
    /*margin-top: 5px;*/
    /*padding-top: 5px;*/
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
    
}